.nav-buttons {
    margin-bottom: 1rem;
  }
  
  mat-toolbar {
    background-color: transparent;
    padding: 0;
  }
  
  .listas-crear-button.active-route {
    background-color: #3f51b5;
    color: white;
  }
  
  .listas-beneficios-button.active-route {
    background-color: #3f51b5;
    color: white;
  }
  
  