.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #121212 !important;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  letter-spacing: 2.2px;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  word-wrap: break-word;
  white-space: normal ;
  box-shadow: none;
  color: white;
  cursor: pointer; 
}

.btn:active {
  transform: translateY(4px);
}

.btn-primary {
  background-color: #26b462;
  border: 1px solid #26b462;
  

  
}

.btn-primary:active {
  transform: translateY(4px);
}

///////////////////////////SECONDARY BTN////////////////////////////////////////////////////

.btn:active {
  transform: translateY(4px);
}

.btn-secondary {
  background-color: #6a737a;
  border: 1px solid #6a737a;
  color: white;
}

.btn-secondary:active {
  transform: translateY(4px);
}
