<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Alta de productos en deposito</h2>

    <mat-form-field appearance="fill">
        <mat-label class="inputText">Producto</mat-label>
        <input matInput [matAutocomplete]="auto" formControlName="producto">

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
            <mat-option *ngFor="let linea of filteredLineas | async" [value]="linea.id">
                {{linea.text}}
              </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('producto', form)}}</mat-error>
      </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label class="inputText">Cantidad ingresada</mat-label>
        <input matInput type="number" #input formControlName="cantidad">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('cantidad',form)}}</mat-error>
    </mat-form-field>
    

    <mat-form-field appearance="fill">
        <mat-label class="inputText">Numero de orden de compra </mat-label>
        <input matInput type="number" #input formControlName="compra">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('compra',form)}}</mat-error>
    </mat-form-field>
    

    <mat-form-field  appearance="fill">
        <mat-label>Observacion</mat-label>
        <input matInput #input formControlName="observacion">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('observacion',form)}}</mat-error>
        <textarea matInput></textarea>
      </mat-form-field>


    <div class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>


    </div>



</div>