<div [formGroup]="form" (ngSubmit)="guardar()">

<mat-form-field  appearance="fill">
    <mat-label class="inputText">Linea</mat-label>
    <input matInput #input formControlName="linea">
    <mat-error *ngIf="form.invalid">{{getErrorMessage('linea',form)}}</mat-error>
</mat-form-field>

<div class="btn2">
    <button class="margin-bottom1" style="margin-left: 1em;" class="btn btn-secondary">
    <i class="icon-magnifier"></i> Buscar
    </button>

    <button class="btn btn-primary" (click)="guardar()">
        Guardar
    </button>
</div>

</div>