<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Datos del Local Adherido</h2>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Nombre del Local</mat-label>
        <input matInput #input formControlName="nombre">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
    </mat-form-field>
    <div class="mb-3"></div>
   

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label>Sitio web</mat-label>
        <input matInput #input formControlName="sitioWeb">
    </mat-form-field>
    <div class="mb-3"></div>
    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Fecha de vencimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fecha',form)}}</mat-error>
    </mat-form-field>
    <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="destacado">Destacado</mat-checkbox>
        <div class="mb-3"></div>
    </section>
    <div class="mb-3"></div>
    <div class="example-container">
        <mat-form-field appearance="fill" style="width: 30em;">
            <mat-label class="inputText">Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('email',form)}}</mat-error>
        </mat-form-field>
    </div>
    
    <div style="margin-top: 3em;" class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
        <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>


    </div>



</div>
