<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Nueva sala de cine</h2>

    <mat-form-field class="margin-bottom1" appearance="fill">
        <mat-label class="inputText">Nombre del Local</mat-label>
        <input matInput #input formControlName="nombre">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
    </mat-form-field>
    
   

    <mat-form-field class="margin-bottom1"  appearance="fill">
        <mat-label>Sitio web</mat-label>
        <input matInput #input formControlName="sitioWeb">
    </mat-form-field>
   
    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Fecha de vencimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fecha',form)}}</mat-error>
    </mat-form-field>
    <section class="example-section margin-bottom1">
        <mat-checkbox class="example-margin margin-bottom1" formControlName="destacado">Destacado</mat-checkbox>
        
    </section>
    
    <div class="example-container">
        <mat-form-field appearance="fill" >
            <mat-label class="inputText">Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('email',form)}}</mat-error>
        </mat-form-field>
    </div>
    
    <div style="margin-top: 3em;" class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
        <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>


    </div>



</div>
