<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Agregar Agencia</h2>

    <mat-form-field appearance="fill">
        <mat-label class="inputText">Nombre de la Agencia</mat-label>
        <input matInput #input formControlName="nombre">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label class="inputText">Ciudad</mat-label>
        <input matInput #input formControlName="ciudad">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('ciudad',form)}}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label class="inputText">Zona</mat-label>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('zona',form)}}</mat-error>
        <mat-select formControlName="zona">
            <mat-option value="comercio">Comercio</mat-option>
            <mat-option value="evento">Evento</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label class="inputText">Telefono</mat-label>
        <input matInput type="number" #input formControlName="telefono">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('telefono',form)}}</mat-error>
    </mat-form-field>


    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Direccion</mat-label>
        <input matInput #input formControlName="direccion">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('direccion',form)}}</mat-error>
    </mat-form-field>


    <div  class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
        <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>


    </div>



</div>
