<div class="contenedor" [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Agregar Evento</h2>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Nombre</mat-label>
        <input matInput #input formControlName="nombre">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Tipo Evento</mat-label>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('tipoEvento',form)}}</mat-error>
        <mat-select formControlName="tipoEvento">
            <mat-option value="teatro">Teatro</mat-option>
            <mat-option value="concierto">Concierto</mat-option>
            <mat-option value="cine">Cine</mat-option>
            <mat-option value="circo">Circo</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Tipo Beneficio</mat-label>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('tipoBeneficio',form)}}</mat-error>
        <mat-select formControlName="tipoBeneficio">
            <mat-option value="teatro">Teatro</mat-option>
            <mat-option value="concierto">Concierto</mat-option>
            <mat-option value="cine">Cine</mat-option>
            <mat-option value="circo">Circo</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Lugar</mat-label>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('lugar',form)}}</mat-error>
        <mat-select formControlName="lugar">
            <mat-option value="teatro">Teatro</mat-option>
            <mat-option value="concierto">Concierto</mat-option>
            <mat-option value="cine">Cine</mat-option>
            <mat-option value="circo">Circo</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Puntos de Venta</mat-label>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('puntoVenta',form)}}</mat-error>
        <mat-select formControlName="puntoVenta">
            <mat-option value="teatro">Teatro</mat-option>
            <mat-option value="concierto">Concierto</mat-option>
            <mat-option value="cine">Cine</mat-option>
            <mat-option value="circo">Circo</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput #input formControlName="descripcion">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('descripcion',form)}}</mat-error>
        <textarea matInput></textarea>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Fecha Desde</mat-label>
        <input matInput [matDatepicker]="pickerFechaDesde" formControlName="fechaDesde">
        <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaDesde></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fechaDesde',form)}}</mat-error>
    </mat-form-field>
    
    <div class="mb-3"></div>
    
    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Fecha Hasta</mat-label>
        <input matInput [matDatepicker]="pickerFechaHasta" formControlName="fechaHasta">
        <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaHasta></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fechaHasta',form)}}</mat-error>
    </mat-form-field>
    




    <div style="margin-top: 3em;" class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
        <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>


    </div>



</div>