<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Alta de Premio</h2>
    <h3>Seleccione el producto e ingrese la Cantidad</h3>

    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Producto</mat-label>
        <input matInput [matAutocomplete]="auto" formControlName="producto">

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
            <mat-option *ngFor="let linea of filteredLineas | async" [value]="linea.id">
                {{linea.text}}
              </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('producto', form)}}</mat-error>
      </mat-form-field>

    <div class="mb-3"></div>
    <p>Cant Actual:</p>
    <div class="mb-3"></div>



    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Cantidad a transferir</mat-label>
        <input matInput type="number" #input formControlName="cantidadT">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('cantidadT',form)}}</mat-error>
    </mat-form-field>

    <div class="mb-3"></div>

    <div style="margin-top: 3em;" class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
    </div>



    </div>