<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Transferencia a Disponibles</h2>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Producto</mat-label>
        <input matInput  #input formControlName="producto">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('producto',form)}}</mat-error>
    </mat-form-field>

    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Cantidad ingresada</mat-label>
        <input matInput type="number" #input formControlName="cantidad">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('cantidad',form)}}</mat-error>
    </mat-form-field>
    
    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label class="inputText">Numero de orden de compra </mat-label>
        <input matInput type="number" #input formControlName="compra">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('compra',form)}}</mat-error>
    </mat-form-field>
    
    <div class="mb-3"></div>

    <mat-form-field style="width: 30em;" appearance="fill">
        <mat-label>Observacion</mat-label>
        <input matInput #input formControlName="observacion">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('observacion',form)}}</mat-error>
        <textarea matInput></textarea>
      </mat-form-field>

    <div class="mb-3"></div>

    <div style="margin-top: 3em;" class="button-container">
        <button class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>


    </div>



</div>
