.nav-buttons {
    margin-bottom: 1rem;
  }
  
  mat-toolbar {
    background-color: transparent;
    padding: 0;
  }
  
  
mat-toolbar {
  background-color: transparent;
  padding: 0;
}

.search-button {
  margin-left: 16px;
}
.filter-field {
  margin-right: 15px;
}
.titulos {
  display: flex;
  justify-content: space-between;
  width: 100%;
} 

  
  
  
  
  
  
  