<div [formGroup]="form">

  <h2> Agregar lista </h2>
 

  <mat-form-field style="width: 30em;" appearance="fill">
    <mat-label class="inputText">Nombre</mat-label>
    <input matInput #input formControlName="nombre">
    <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
  </mat-form-field>
  <div class="mb-3"></div>

  <mat-form-field style="width: 30em;" appearance="fill">
    <mat-label>Descripcion</mat-label>
    <input matInput #input formControlName="descripcion">
    <mat-error *ngIf="form.invalid">{{getErrorMessage('descripcion',form)}}</mat-error>
    <textarea matInput></textarea>
  </mat-form-field>

  <div style="margin-top: 3em;" class="button-container">
    <button class="btn btn-primary" (click)="guardar()">
      Guardar
    </button>
    <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>
  </div>

</div>
