<div [formGroup]="form">

  <h2> Agregar lista </h2>


  <mat-form-field style="width: 30em;" appearance="fill">
    <mat-label class="inputText">Nombre</mat-label>
    <input matInput #input formControlName="nombre">
    <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
  </mat-form-field>
  <div class="mb-3"></div>

  <mat-form-field style="width: 30em;" appearance="fill">
    <mat-label>Descripcion</mat-label>
    <input matInput #input formControlName="descripcion">
    <mat-error *ngIf="form.invalid">{{getErrorMessage('descripcion',form)}}</mat-error>
    <textarea matInput></textarea>
  </mat-form-field>


  <div class="main-container "
    style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between; ">



    <div class="right-container" style="flex: 1;">
      <h2 style="display: inline;">Beneficios </h2>
      <div class="search-container" style="display: inline;">
        <mat-form-field style="width: 48.5em;" appearance="outline">
          <mat-label>Filtrar beneficio </mat-label>
          <input matInput placeholder="Escribe para filtrar">
        </mat-form-field>
      </div>

      <div class="scroll-container"
        style="border: 1px solid #ccc; overflow-y: scroll; max-height: 300px;   background-color: #f5f5f5;">
        <mat-selection-list #beneficiosList>
          <mat-list-option *ngFor="let row of beneficiosSeleccionados" [value]="row">
            {{row.lista}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

      <div class="middle-container"
        style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start;  margin-top: 12em; margin-left: 5px; margin-right: 5px;">
        <button  class="btn btn-primary" title="Agregar " (click)="addSelectedOptions()">
          
          <i class="icon-arrow-right"></i>
        </button>
        <button class="btn btn-secondary " style="margin-top: 1em;" title="Eliminar " (click)="removeSelectedOptions()">
          <i class="icon-trash"></i>
          
        </button>
      </div>

      <div class="right-container" style="flex: 1;">
        <h2 style="display: inline;">Beneficios seleccionados</h2>
        <div class="search-container" style="display: inline;">
          <mat-form-field style="width: 48.5em;" appearance="outline">
            <mat-label>Filtrar beneficio seleccionado</mat-label>
            <input matInput placeholder="Escribe para filtrar">
          </mat-form-field>
        </div>

        <div class="scroll-container"
          style="border: 1px solid #ccc; overflow-y: scroll; max-height: 300px;   background-color: #f5f5f5;">
          <mat-selection-list #beneficiosList>
            <mat-list-option *ngFor="let row of beneficiosSeleccionados" [value]="row">
              {{row.lista}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
     

      </div>


  <div style="margin-top: 3em;" class="button-container">
    <button class="btn btn-primary" (click)="guardar()">
      Guardar
    </button>
    <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>
  </div>

</div>
            
