.nav-buttons {
  margin-bottom: 1rem;
}

mat-toolbar {
  background-color: transparent;
  padding: 0;
}

.search-button {
  margin-left: 16px;
   
}
.titulos{
  width: 40px !important;
}
.beneficios-header{
  width: 20px;
}


.beneficios-header {
  display: flex;
  align-items: center;
}

.search-container {
  margin-left: 1rem;
}

.right-container {
  position: relative;
}

.right-container h2 {
  position: absolute;
  top: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.left-container::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.left-container::-webkit-scrollbar-thumb,
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 4px;
}

.left-container::-webkit-scrollbar-track,
.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.left-container::-webkit-scrollbar-corner,
.scroll-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

@-moz-document url-prefix() {
  .left-container,
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 transparent;
  }
}

