<div [formGroup]="form" (ngSubmit)="guardar()">

    <h2>Agregar Cartelera</h2>

    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Descripcion</mat-label>
        <input matInput #input formControlName="tipoEvento">
        <mat-error *ngIf="form.invalid">{{getErrorMessage('tipoEvento',form)}}</mat-error>
    </mat-form-field>
    <div class="mb-3"></div>

    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Fecha Desde</mat-label>
        <input matInput [matDatepicker]="pickerFechaDesde" formControlName="fechaDesde">
        <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaDesde></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fechaDesde',form)}}</mat-error>
    </mat-form-field>
    
    <div class="mb-3"></div>
    
    <mat-form-field  appearance="fill">
        <mat-label class="inputText">Fecha Hasta</mat-label>
        <input matInput [matDatepicker]="pickerFechaHasta" formControlName="fechaHasta">
        <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaHasta></mat-datepicker>
        <mat-error *ngIf="form.invalid">{{getErrorMessage('fechaHasta',form)}}</mat-error>
    </mat-form-field>




    <div style="margin-top: 3em;" class="button-container">
        <button type="submit" class="btn btn-primary" (click)="guardar()">
            Guardar
        </button>
        <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">Volver</button>


    </div>



</div>
