<div class="scroll-container">
    <div class="form-container" [formGroup]="form" (ngSubmit)="guardar()">

        <h2>Pelicula</h2>

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label class="inputText">Nombre </mat-label>
            <input matInput #input formControlName="nombre">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('nombre',form)}}</mat-error>
        </mat-form-field>
        
        <mat-form-field  class="margin-bottom1" appearance="fill">
            <mat-label class="inputText">Genero</mat-label>
            <mat-error *ngIf="form.invalid">{{getErrorMessage('genero',form)}}</mat-error>
            <mat-select formControlName="genero">
                <mat-option value="Animacion">Entretenimiento</mat-option>
                <mat-option value="Terror">Hogar</mat-option>
                <mat-option value="Comedia">Gastronomia</mat-option>
                <mat-option value="Suspenso">Tecnologia</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label class="inputText">Clasificacion </mat-label>
            <input matInput #input formControlName="clasificacion">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('clasificacion',form)}}</mat-error>
        </mat-form-field>
        

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label class="inputText">Actores </mat-label>
            <input matInput #input formControlName="actores">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('actores',form)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label class="inputText">Director </mat-label>
            <input matInput #input formControlName="director">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('director',form)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label>Sitio web</mat-label>
            <input matInput #input formControlName="sitioWeb">
        </mat-form-field>

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label class="inputText">Triler </mat-label>
            <input matInput #input formControlName="trailer">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('trailer',form)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="margin-bottom1"  appearance="fill">
            <mat-label>Sinopsis</mat-label>
            <input matInput #input formControlName="sinopsis">
            <mat-error *ngIf="form.invalid">{{getErrorMessage('sinopsis',form)}}</mat-error>
            <textarea matInput></textarea>
        </mat-form-field>




        <div style="margin-top: 3em;" class="button-container">
            <button class="btn btn-primary" (click)="guardar()">
                Guardar
            </button>
            <button style="margin-left: 2em;" class="btn btn-secondary" (click)="volver()">
                Volver
            </button>



        </div>



    </div>
</div>