.form-container {
  max-height: 80vh; /* Altura máxima de la ventana del navegador */
  overflow-y: auto; /* Habilitar el desplazamiento vertical cuando sea necesario */
  padding: 1rem; /* Agrega un espacio alrededor del contenido del formulario */
}